section {
  height: 300px;
  margin: 60px 0;
}
.section--purple {
  background-color: grey;
}

.section--blue {
  background-color: lightcyan;
}

.section--green {
  background-color: blueviolet;
}

#main {
  text-align: center;
}

#more {
  margin: 20px auto 48px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
   margin-top: 50px;
   margin-bottom: 200px;
}
